{% extends "zinnia/base.html" %}
{% load zinnia_tags %}

{% block meta-description %}Últimos episódios {% if page_obj and page_obj.number != 1 %} página {{ page_obj.number }}
{% endif %}{% endblock %}

 {% block content %}
    {% for object in object_list %}
        <h2><span><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></span></h2>
        <div class="row-fluid">
            <!-- Blog box -->
            <div class="span8 single-post">

                <!-- Blog post -->
                <div class="blog-post image-post">
                    <div class="post-content">
                        <a href="{{ object.get_absolute_url }}"><img alt="" src="{{ object.image.url }}"></a>

                        {{ object.html_content|truncatewords_html:50|safe }}

                        <p><a href="{{ object.get_absolute_url }}">Leia mais...</a></p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
