
/*-------------------------------------------------
 =  Table of Css

 1.Isotope
 2.General
 3.Header
 4.Content home page1
 5.Footer
 6.About page
 7.Portfolio page 3,4 Column
 8.Contact-page
 9.home page 2
 10.home page 3
 11.Blog
 12.Sidebar
 13.Single-post
 14.Single-work
-------------------------------------------------*/


/*-------------------------------------------------------*/
/* 1. Isotope filtering
/*-------------------------------------------------------*/
.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
.isotope, .isotope .isotope-item {/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:-moz-transform, opacity;
	transition-property:transform, opacity;
}

/*-------------------------------------------------*/
/* 2 General
/*-------------------------------------------------*/

h1, h2, h3, h4, h5, h6, p, blockquote, img {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
	margin: 0;
}

#container.boxed-style {
	max-width: 1230px;
	margin: 50px auto;
	overflow: hidden;
	position: relative;
	background: #fff;
}

#container {
	max-width: 100%;
	margin: 0;
	overflow: hidden;
	position: relative;
	background: #fff;
}

/*-------------------------------------------------*/
/* 3 Header
/*-------------------------------------------------*/

header {
    margin-bottom: 8.5em;
}

.navbar-fixed-top {
	position: fixed;
	z-index: 9999999;
}

#container.boxed-style .navbar-fixed-top {
	position: absolute;
}

.navbar-fixed-top .navbar-inner {
	background: #02ab68;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	border: none;
}

.navbar a.brand {
	padding: 27px 0 20px;
	margin: 0;
}

.nav-collapse {
	float: right;
	margin-top: 20px;
}

.nav-collapse .nav > li > a {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	padding: 15px 19px;
	font-family: 'Open Sans', sans-serif;
	border-radius: 24px;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	-o-border-radius: 24px;
	transition: all 0.17s linear;
	-moz-transition: all 0.17s linear;
	-webkit-transition: all 0.17s linear;
	-o-transition: all 0.17s linear;
}

.nav-collapse .nav > li.drop > a {
	border-bottom-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	-o-border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
	-o-border-bottom-right-radius: 0px;
}

.nav-collapse .nav > li.drop:hover > a {
	color: #000;
	background: #fff;
}

.nav-collapse .nav > li {
	position: relative;
}

.nav-collapse .nav > li > a:hover {
	color: #000;
	background: #fff;
}

.dropdown {
	position: absolute;
	padding: 1px;
	left: 0;
	top: 100%;
	visibility: hidden;
	opacity: 0;
	background: #fff;
	width: 150px;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

.nav-collapse .nav > li.drop:hover .dropdown {
	visibility: visible;
	opacity: 1;
}

.dropdown li {
	border-top: 1px solid #e7e7e7;
}

.dropdown li:first-child {
	border-top: none;
}

.dropdown li a {
	display: inline-block;
	text-decoration: none;
	color: #585858;
	font-size: 13px;
	padding: 7px 0;
	text-indent: 14px;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

.dropdown li a:hover {
	color: #fff;
	background: #02ab68;
}

/*-------------------------------------------------*/
/* 4 Content home page1
/*-------------------------------------------------*/

.recent-projects > h2,
.team > h2,
.contact-page > h2,
.blog > h2,
.blog > h1,
.single-work > h2,
.about-us-section > h2 {
	color: #000;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 23px;
}

.recent-projects > h2 span,
.team > h2 span,
.contact-page > h2 span,
.blog > h2 span,
.blog > h1 span,
.single-work > h2 span,
.about-us-section > h2 span {
	display: inline-block;
	padding-bottom: 18px;
	border-bottom: 6px solid #02ab68;
	margin-bottom: -1px;
}

.quote blockquote {
	padding: 22px 192px 33px 20px;
	background: #02ab68;
	line-height: 24px;
	font-weight: 300;
	overflow: hidden;
	margin-bottom: 32px;
	position: relative;
}

.quote blockquote span {
	font-weight: 600;
}

.quote blockquote img {
	float: left;
	margin-right: 24px;
	margin-top: 7px;
}

.quote blockquote p {
	margin-top: 10px;
	color: #fff;
	font-size: 21px;
	font-family: 'Open Sans', sans-serif;
}

.quote blockquote a {
	position: absolute;
	top: 22px;
	right: 22px;
	display: inline-block;
	padding: 12px 30px;
	background: #2b2b2b;
	color: #fff;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 8px;
	text-decoration: none;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}

.quote blockquote a:hover {
	opacity: 0.8;
}

/*-------------------------------------------------*/
/* 5 Footer
/*-------------------------------------------------*/

footer {
	background: #1d2325;
}

.footer-widget {
	padding: 35px 0;
}

.footer-widget .widget{
	margin-bottom: 20px;
}

.footer-widget h3 {
	color: #fff;
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 27px;
	border-bottom: 1px solid #010202;
}

.footer-widget h3 span {
	display: inline-block;
	padding-bottom: 15px;
	border-bottom: 5px solid #02ab68;
	margin-bottom: -1px;
}

.footer-widget p {
	color: #fff;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	line-height: 17px;
	margin-bottom: 15px;
}

.post-widget p a {
	color: #fff;
}

.tweet-widget p {
	margin-bottom: 0;
}

.tweet-widget div span {
	display: block;
	color: #fff;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	line-height: 17px;
}

.tweet-widget div {
	margin-bottom: 15px;
}

.tweet-widget p a {
	color: #3bbbf1;
}

.last-line {
	padding: 14px 0;
	background: #02ab68;
}

.last-line p {
	color: #fff;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	line-height: 20px;
	margin-top: 12px;
	float: left;
}

.pagination-list {
	overflow: hidden;
	margin-bottom: 30px;
}

.pagination-list li {
	float: left;
	margin-right: 6px;
}

.pagination-list li a {
	display: inline-block;
	color: #fff;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	padding: 7px 12px;
	text-decoration: none;
	background: #74777b;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

.pagination-list li a:hover {
	background: #02ab68;
}

/*-------------------------------------------------*/
/* 11 Blog
/*-------------------------------------------------*/

.blog-post {
	position: relative;
	margin-bottom: 25px;
}

.blog-post:after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	height: 15px;
}

.blog-post .post-date {
	position: absolute;
	top: 0;
	left: 0;
	width: 65px;
	padding: 24px 0 24px;
	text-align: center;
	border-right: 6px solid #fff;
	border-bottom: 6px solid #fff;
	z-index: 2;
}

.blog-post .post-date span {
	display: block;
	color: #fbfbfb;
	font-size: 45px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	/*line-height: 14px;*/
}

.blog-post .post-content > img,
.blog-post .post-content > a > img{
	width: 100%;
	margin-bottom: 20px;
}

.blog-post .post-content h1 {
	color: #1b1b1b;
	font-size: 22px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	margin: 0;
	margin-bottom: 7px;
}

.blog-post .post-content h1 a {
	color: #1b1b1b;
	text-decoration: none;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

.blog-post .post-content h1 a:hover {
	color: #02ab68;
}

.blog-post .post-content p {
	color: #585858;
	font-size: 14px;
	font-family: 'Noto Sans', sans-serif;
	margin: 0;
	margin-bottom: 20px;
	line-height: 21px;
}

.blog-tags {
	display: inline-block;
	background: #02ab68;
	padding: 19px 60px 19px 23px;
	position: relative;
	margin-bottom: 36px;
}

.blog-tags ul li {
	display: inline-block;
	margin-left: 9px;
}

.blog-tags ul li:first-child {
	margin-left: 0px;
}

.blog-tags ul li:before {
	content: '/';
	color: #028953;
	font-size: 12px;
	font-family: 'Noto Sans', sans-serif;
	margin-right: 12px;
}

.blog-tags ul li:first-child:before {
	content: '';
	margin: 0;
}

.blog-tags ul li a {
	display: inline-block;
	color: #ffffff;
	font-size: 12px;
	font-family: 'Noto Sans', sans-serif;
	font-style: italic;
	text-decoration: none;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

.blog-tags ul li a:hover {
	opacity: 0.7;
}

.blog-tags a.read-more {
	position: absolute;
	width: 32px;
	height: 41px;
	top: 9px;
	right: 9px;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

.blog-tags a.read-more:hover {
	opacity: 0.7;
}

.blog-post iframe {
	width: 100%;
	height: 300px;
	margin-bottom: 20px;
}

.pagination-list.blog-pagination a {
	border-radius: 3px;
	-wekit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	background: #f3f3f3;
	color: #000;
}

.pagination-list.blog-pagination a:hover {
	color: #fff;
}

/*-------------------------------------------------*/
/* 12 Sidebar
/*-------------------------------------------------*/

.widgets li.widget {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid #dedede;
}

.widgets li.widget h3 {
	color: #585858;
	font-size: 17px;
	font-family: 'Noto Sans', sans-serif;
	margin-bottom: 14px;
	font-weight: 700;
}

.recent-post-item {
	overflow: hidden;
	margin-bottom: 18px;
}

.recent-post-item img {
	float: left;
	margin-right: 10px;
}

.recent-post-item p {
	color: #353535;
	font-size: 13px;
	font-family: 'Noto Sans', sans-serif;
	line-height: 18px;
}

.recent-post-item p a {
	color: #353535;
}

.tag-list li {
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 7px;
}

.tag-list li a {
	display: inline-block;
	position: relative;
	background: #353535;
	color: #fff;
	font-size: 13px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 300;
	padding: 6px 34px 6px 9px;
	text-decoration: none;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

.tag-list li a span {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	background: #02ab68;
	color: #fff;
	font-size: 13px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 300;
	padding: 6px 9px 6px 9px;
	z-index: 2;
}

.tag-list li a:hover {
	opacity: 0.7;
}

.tweet-widget .tweet-list li {
	margin-bottom: 10px;
}

.tweet-widget .tweet-list li p {
	color: #353535;
	font-size: 13px;
	font-family: 'Noto Sans', sans-serif;
	line-height: 17px;
}

.tweet-widget .tweet-list li p a {
	color: #34a6fe;
}

.tweet-widget .tweet-list li span {
	display: block;
	color: #b0b0b0;
	font-size: 13px;
	font-family: 'Noto Sans', sans-serif;
	line-height: 17px;
}


/*-------------------------------------------------*/
/* 13 Single-post
/*-------------------------------------------------*/

.single-post .blog-tags {
	padding: 19px 23px;
}

/*-------------------------------------------------*/
/* 14 Single-work
/*-------------------------------------------------*/

.single-work .blog-post {
	padding-bottom: 10px;
}

.share-buttons {
	margin-top: 20px;
}

.soundcloud {
	max-height: 165px;
	overflow: hidden;
	margin-bottom: 21px;
}

